.container1{
    background-color: white;
    
   
}

.C1{
    margin-top: 5%;
    margin-left: 80%;
   
}

.C2{

 margin-top: 8%; 
}

p{
    font-size: large;
    text-align: center;
}

.end{
    margin-top: 15%;
    text-align: center; 
}
